.codehilite { background-color: #fdf6e3; color: #586e75; }
.codehilite .c { color: #627272; }
.codehilite .err { color: #586e75; }
.codehilite .g { color: #586e75; }
.codehilite .k { color: #677600; }
.codehilite .l { color: #586e75; }
.codehilite .n { color: #586e75; }
.codehilite .o { color: #677600; }
.codehilite .x { color: #c14715; }
.codehilite .p { color: #586e75; }
.codehilite .cm { color: #627272; }
.codehilite .cp { color: #677600; }
.codehilite .c1 { color: #627272; }
.codehilite .cs { color: #677600; }
.codehilite .gd { color: #217d74; }
.codehilite .ge { color: #586e75; font-style: italic; }
.codehilite .gr { color: #d72825; }
.codehilite .gh { color: #c14715; }
.codehilite .gi { color: #677600; }
.codehilite .go { color: #586e75; }
.codehilite .gp { color: #586e75; }
.codehilite .gs { color: #586e75; font-weight: bold; }
.codehilite .gu { color: #c14715; }
.codehilite .gt { color: #586e75; }
.codehilite .kc { color: #c14715; }
.codehilite .kd { color: #1f76b6; }
.codehilite .kn { color: #677600; }
.codehilite .kp { color: #677600; }
.codehilite .kr { color: #1f76b6; }
.codehilite .kt { color: #d72825; }
.codehilite .ld { color: #586e75; }
.codehilite .m { color: #217d74; }
.codehilite .s { color: #217d74; }
.codehilite .na { color: #586e75; }
.codehilite .nb { color: #8d6900; }
.codehilite .nc { color: #1f76b6; }
.codehilite .no { color: #c14715; }
.codehilite .nd { color: #1f76b6; }
.codehilite .ni { color: #c14715; }
.codehilite .ne { color: #c14715; }
.codehilite .nf { color: #1f76b6; }
.codehilite .nl { color: #586e75; }
.codehilite .nn { color: #586e75; }
.codehilite .nx { color: #586e75; }
.codehilite .py { color: #586e75; }
.codehilite .nt { color: #1f76b6; }
.codehilite .nv { color: #1f76b6; }
.codehilite .ow { color: #677600; }
.codehilite .w { color: #586e75; }
.codehilite .mf { color: #217d74; }
.codehilite .mh { color: #217d74; }
.codehilite .mi { color: #217d74; }
.codehilite .mo { color: #217d74; }
.codehilite .sb { color: #627272; }
.codehilite .sc { color: #217d74; }
.codehilite .sd { color: #586e75; }
.codehilite .s2 { color: #217d74; }
.codehilite .se { color: #c14715; }
.codehilite .sh { color: #586e75; }
.codehilite .si { color: #217d74; }
.codehilite .sx { color: #217d74; }
.codehilite .sr { color: #d72825; }
.codehilite .s1 { color: #217d74; }
.codehilite .ss { color: #217d74; }
.codehilite .bp { color: #1f76b6; }
.codehilite .vc { color: #1f76b6; }
.codehilite .vg { color: #1f76b6; }
.codehilite .vi { color: #1f76b6; }
.codehilite .il { color: #217d74; }
