@import "bootstrap-variables";
@import "bootstrap";

.html {
    font-kerning: normal;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

$space: 2.5em;

.highlight-first {
    color: lighten($headings-color, 80%);
    &::first-letter {
        color: $headings-color;
    }
}

ul.lister {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}
ul.lister li {
    /* font-family: "Just Another Hand"; */
    /* font-size: $font-size-h1; */
    border-bottom-right-radius: 50px 5px;
    float: left;
    position: relative;
    display: inline-block;
    margin: {
        right: 15px;
        bottom: 15px;
    }
    .badge {
        padding: 15px;
    }
    p {
        margin: 0;
    }
    .date {
        margin-top: 7.5px;
        font-family: $font-family-sans-serif;
        font-size: $font-size--5;
    }
    &:after {     
    content: "";
    position:absolute;
    z-index:-1;
    right:-0px;
    bottom:16px;
    width:60px;
    height: 10px;
    box-shadow:2px 15px 8px rgba(0, 0, 0, 0.40);
    -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
    transform: matrix(-1, -0.1, 0, 1, 0, 0);
}
    
}

span#a-1 {
    display: none;
    border: {
    	/* bottom: 6px solid transparentize($color-2, 0.5); */
    	/* left: 1px solid mix($color-2, white, 20%); */
    	/* right: 1px solid mix($color-2, white, 20%); */
    	/* top: 1px solid mix($color-2, white, 20%); */
    	bottom: 1px solid mix($color-2, white, 100%);
    }
    /* box-shadow: 5px 5px transparentize($color-2, 0.5); */
}

div.line{
  display: none;
  transform-origin: 0 100%;
  height: 1px; /* Line width */
  z-index: -1000;
  background: mix($color-2, $body-bg, 100%);
}

.left-margin {
    /* @include make-md-column(0); */
}
.big-gutter {
    @include make-md-column(1);
}
.right-margin {
    @include make-md-column(12 - 7 - 1 - 0);
    display: none;
    /* 293.328px */
    @media (min-width: $screen-md-min) {
	display: initial;
    }
    .link-context {
	div.url {
	    padding-left: $font-size-smallest / 2;
	    /* padding-right: 1em; */
	    width: 100%;
	    font-family: $font-family-sans-serif;
	    font-size: $font-size-smallest;
	    background: $color-2;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	}
	max-width: 263px;
	img {
	    text-align: right;
	    width: 100%;
	}
	p.caption {
	    margin: 1em;
	    color: $gray;
	    font-family: $font-family-sans-serif;
	    font-size: $font-size-smallest;
	}
    }
}
.page {
    @include make-md-column(7);
    .header {
	padding-top: $space;
	padding-bottom: $space;
	.metadata {
	    /* font-family: $font-family-monospace; */
	    font-family: $font-family-sans-serif;
	    /* font-size: $font-size-small; */
	    color: $gray-light;
	    .date:after {
		content: " \2015 ";
	    }
	    .author {
		color: mix($color-2, $body-bg);
	    }
	}
	.title {
	    /* text-transform: uppercase; */
	}
    }
    .body {
	a {
	    transition: border-bottom 0.2s ease, background 0.2s ease;
	    padding-bottom: 3px;
	    border-bottom: 1px solid mix($color-2, $body-bg, 80%);
	}
	a:hover {
	    transition: border-bottom 0.2s ease, background 0.2s ease;
	    border-bottom: 1px solid mix($color-2, $body-bg, 100%);
	    background: mix($color-2, $body-bg, 100%);
	}
    }
    .footer {
	font-family: $font-family-monospace;
	padding-top: $space;
	padding-bottom: $space;
    }
}
/* ======= */
/* @import "include-media"; // http://include-media.com/ */

/* html { */
/*   text-rendering: optimizeLegibility; */
/*   word-wrap: break-word; */
/* } */

/* div.page { */
/*   @include make-md-column(7); */
/* } */

/* div.margin { */
/*   /\* background: mix($color-2, $body-bg, 10%); *\/ */
/*   /\* height: 800px; *\/ */
/*   @include make-md-column(5); */
/* } */

section.header {
  font-family: $font-family-sans-serif;
  padding: {
    top: 3em;
    bottom: 3em;
  };
  .date, .author {
    font-size: $font-size-small;
  }
  .date {
    color: $gray-light;
    &:after {
      padding-left: .4em;
      content: "\2014";
      /* content: "\00AB"; */
    }
  }
}

/* a:hover { */
/*   background: mix($color-2, $body-bg, 15%); */
/* } */

/* $aside-width: percentage(2/7); */
/* aside { */
/*   font-family: $font-family-sans-serif; */
/*   font-weight: 300; */
/*   font-size: $font-size-small; */
/*   color: $gray-light; */
/*   width: $aside-width; */
/*   float: right; */
/*   position: relative; */
/*   padding: { */
/*     left: $grid-gutter-width; */
/*     top: 3.5px; */
/*   }; */
/*   margin-left: -$aside-width; */
/*   right: -$aside-width; */
/* } */
/* /\* @media screen and (max-width: $article-width + $article-width / 2) { *\/ */
/* /\*   blockquote { *\/ */
/* /\*     &.pullquote {  *\/ */
/* /\*       width: $blockquote-width; *\/ */
/* /\*       position: static; *\/ */
/* /\*       margin-left: $font-size-base; *\/ */
/* /\*     } *\/ */
/* /\*   } *\/ */
/* /\* } *\/ */
/* /\* @media screen and (max-width: $article-width) { *\/ */
/* /\*   $article-margin: $font-size-base * 1; *\/ */
/* /\*   .container { *\/ */
/* /\*     max-width: $article-width + 2 * $article-margin; *\/ */
/* /\*     padding: 0 $article-margin; *\/ */
/* /\*   } *\/ */
/* /\*   blockquote { *\/ */
/* /\*     font-size: $font-size-base; *\/ */
/* /\*     &.pullquote {  *\/ */
/* /\*       margin-left: $font-size-base; *\/ */
/* /\*       width: auto; *\/ */
/* /\*       padding: { *\/ */
/* /\* 	top: 0; *\/ */
/* /\* 	bottom: 0; *\/ */
/* /\*       }; *\/ */
/* /\*       position: static; *\/ */
/* /\*       float: none; *\/ */
/* /\*       margin-top: 1em; *\/ */
/* /\*       margin-bottom: 1em; *\/ */
/* /\*       background: none; *\/ */
/* /\*       color: mix($color-3, $gray-darker, 75%); *\/ */
/* /\*     } *\/ */
/* /\*   } *\/ */
/* /\* } *\/ */
/* .margin { */
/*   display: none; */
/*   width: 200px; */
/*   float: right; */
/*   position: relative; */
/*   padding: { */
/*     right: $grid-gutter-width / 2; */
/*     top: 3.5px; */
/*   }; */
/*   margin-right: -200px; */
/*   right: -200px; */
/*   /\* top: 3.5px; *\/ */
/* } */
/* img.fullwidth { */
/*   width: 100%; */
/* } */

.alphabet {
  /* word-wrap: break-word; */
  &.odd {
    color: $color-1;
  }
  &.even {
    color: $color-2;
  }
}

/* .include-media-test { */
/*   width: 100%; */
/*   height: 80px; */
/*   line-height: 40px; */
/*   text-align: center; */
/*   font-size: 20px; */
/*   font-family: Helvetica; */
/*   &:after { */
/*     display: block; */
/*     content: "Non-retina"; */
/*   } */
/*   @include media("<=phone") { */
/*     background-color: $color-1; */
/*     &:before { */
/*       content: "<=phone"; */
/*     } */
/*   } */
/*   @include media(">phone") { */
/*     background-color: $color-2; */
/*     &:before { */
/*       content: ">phone"; */
/*     }     */
/*   } */
/*   @include media(">=tablet", "<desktop") { */
/*     background-color: $color-3; */
/*     &:before { */
/*       content: ">=tablet, <desktop"; */
/*     }     */
/*   } */
/*   @include media(">=desktop") { */
/*     background-color: $color-4; */
/*     &:before { */
/*       content: ">=desktop"; */
/*     } */
/*   } */
/*   @include media("retina2x") { */
/*     &:after { */
/*       content: "Retina" !important; */
/*     }     */
/*   } */
/* } */

/* @include media("<tablet") { */
/*   body { */
/*     font-size: $font-size-small; */
/*   } */
/* } */
/* >>>>>>> 0cd74e22e237d3939af32ead19fd31ffbbaf88ca */
